.container {
    max-width: 500px;
    margin: 40px auto;
    background: #ffffff;
    padding: 28px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

h2 {
    color: #1e3a5f;
    text-align: center;
    margin-bottom: 8px;
}
body {
    font-family: "Inter", sans-serif;
}
.subtitle {
    text-align: center;
    color: #555;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 18px;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
}

input[type="text"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 6px;
}
nav a {
      margin-left: 2rem;
      text-decoration: none;
      color: var(--text-color);
      font-weight: 500;
    }

    nav a:hover {
      color: var(--accent-color);
    }
textarea {
    resize: none;
}
@media (max-width: 600px) {
      header {
        flex-direction: column;
        align-items: flex-start;
      }

      nav {
        margin-top: 0.5rem;
      }
	}
	header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 4rem;
    }

    header h1 {
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--accent-color);
    }
.btn {
    width: 100%;
    padding: 14px;
    background: #1e3a5f;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    background: #264d7a;
    transform: translateY(-2px);
}

.destination-item {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.remove-btn {
    background: #ff4d4d;
    border: none;
    color: white;
    padding: 0 12px;
    border-radius: 6px;
    cursor: pointer;
}

.add-btn {
    background: #155724;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 20px;
}

.success-msg {
    background: #d4edda;
    padding: 10px;
    border-left: 4px solid #28a745;
    margin-bottom: 20px;
}
